<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{ fragments/base :: common_header(~{::title}) }">
    <meta charset="UTF-8"/>
    <title>Volunteers Pending Approval</title>
</head>
<body>
<div th:replace="~{fragments/base :: navbar}"></div>

<div class="container">
    <h2 class="mb-4">Pending Volunteers</h2>
    <table class="table table-striped table-hover">
        <thead class="table-primary">
        <tr>
            <th>User email</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="volunteer : ${volunteers}">
            <td th:text="${volunteer.userEmail}"></td>
            <td th:text="${volunteer.firstName + ' ' + volunteer.lastName}"></td>
            <td th:text="${volunteer.phone}"></td>
            <td>
                <form th:action="@{'/admin/volunteers/' + ${volunteer.id} + '/approve'}" method="post">
                    <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-check2"></i>Approve</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/base :: footer}"></div>
</body>
</html>
